{
    "openapi": "3.0.0",
    "info": {
        "title": "YWC API",
        "description": "API documentation for YWC platform.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://console-ywc.nativeappdev.com",
            "description": "Production Server"
        },
        {
            "url":  "http://127.0.0.1:8000",
            "description": "Development Server"
        }
    ],
    "paths": {
        "/api/roles": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Get available roles",
                "operationId": "5a0b44be03e17d085cd0ba283ed073ea",
                "responses": {
                    "200": {
                        "description": "Roles fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Roles fetched successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "captain"
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "example": "Active"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/api/signup": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Sign up a new user",
                "operationId": "f886d970a4e3497817841e1dc8ca2348",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "first_name",
                                    "last_name",
                                    "email",
                                    "password",
                                    "role"
                                ],
                                "properties": {
                                    "first_name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "John"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "maxLength": 255,
                                        "example": "john.doe@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "minLength": 8,
                                        "example": "SecurePass123!"
                                    },
                                    "role": {
                                        "description": "Must be an existing role name",
                                        "type": "string",
                                        "example": "captain"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Signup successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Signup successful. Please check your email to verify your account."
                                        },
                                        "data": {
                                            "properties": {
                                                "user_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "john.doe@example.com"
                                                },
                                                "profile_url": {
                                                    "type": "string",
                                                    "example": "https://example.com/p/encrypted_id"
                                                },
                                                "qrcode": {
                                                    "type": "string",
                                                    "example": "/storage/qrcodes/user_1_abc123.png"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register a new user (alternative endpoint)",
                "operationId": "8e4e3cb7b46126f4696379d3c7eeb4ad",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "first_name",
                                    "last_name",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "first_name": {
                                        "type": "string",
                                        "maxLength": 100,
                                        "example": "John"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "maxLength": 100,
                                        "example": "Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "maxLength": 100,
                                        "example": "john.doe@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "minLength": 8,
                                        "example": "SecurePass123!"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "SecurePass123!"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User registered successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User registered successfully!"
                                        },
                                        "user": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login and receive access tokens",
                "operationId": "222b2625838e3c57e017987f73598fda",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "Secret123!"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Login successful"
                                        },
                                        "data": {
                                            "properties": {
                                                "token": {
                                                    "description": "Sanctum token for auth:sanctum routes",
                                                    "type": "string",
                                                    "example": "1|abcdef123456"
                                                },
                                                "token_type": {
                                                    "type": "string",
                                                    "example": "Bearer"
                                                },
                                                "jwt_token": {
                                                    "description": "Legacy JWT token",
                                                    "type": "string",
                                                    "example": "eyJ0eXAiOiJKV1QiLCJhbGc..."
                                                },
                                                "user_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "example": "John"
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "example": "Doe"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "john.doe@example.com"
                                                },
                                                "role": {
                                                    "type": "string",
                                                    "example": "captain"
                                                },
                                                "profile_url": {
                                                    "type": "string",
                                                    "example": "https://example.com/p/encrypted_id"
                                                },
                                                "qrcode": {
                                                    "type": "string",
                                                    "example": "/storage/qrcodes/user_1_abc123.png"
                                                },
                                                "is_profile_completed": {
                                                    "type": "boolean",
                                                    "description": "Indicates if user profile is completed (first_name, last_name, and email are all filled)",
                                                    "example": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid email or password"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Account not verified",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Please verify your email before login."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Logout user and invalidate token",
                "operationId": "ad65cbbd4e9f201619eae184a5961a98",
                "responses": {
                    "200": {
                        "description": "User logged out successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User logged out successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid token"
                    },
                    "500": {
                        "description": "Logout failed"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/forgot-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Request password reset",
                "operationId": "20d78161b19ac6afb56924e74974ec46",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password reset link sent",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Password reset link sent to your email address."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "500": {
                        "description": "Unable to send reset link"
                    }
                }
            }
        },
        "/api/reset-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Reset password with token",
                "operationId": "0a6624b616e4ba5a310a61d9f7418c35",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "token",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "token": {
                                        "type": "string",
                                        "example": "reset_token_here"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "minLength": 8,
                                        "example": "NewSecurePass123!"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "NewSecurePass123!"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password reset successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Password has been reset successfully."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid or expired token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid or expired reset token."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/profile": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "Get authenticated user's profile",
                "operationId": "getUserProfile",
                "responses": {
                    "200": {
                        "description": "User profile retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "first_name": {
                                            "type": "string",
                                            "example": "John"
                                        },
                                        "last_name": {
                                            "type": "string",
                                            "example": "Doe"
                                        },
                                        "email": {
                                            "type": "string",
                                            "format": "email",
                                            "example": "john.doe@example.com"
                                        },
                                        "dob": {
                                            "type": "string",
                                            "example": "01/01/1990",
                                            "description": "Date of birth in d/m/Y format"
                                        },
                                        "phone": {
                                            "type": "string",
                                            "example": "+1234567890"
                                        },
                                        "gender": {
                                            "type": "string",
                                            "example": "male"
                                        },
                                        "nationality": {
                                            "type": "string",
                                            "example": "British"
                                        },
                                        "marital_status": {
                                            "type": "string",
                                            "example": "single"
                                        },
                                        "birth_country": {
                                            "type": "string",
                                            "example": "United Kingdom"
                                        },
                                        "birth_province": {
                                            "type": "string",
                                            "example": "London"
                                        },
                                        "user_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "image": {
                                            "type": "string",
                                            "format": "uri",
                                            "nullable": true,
                                            "example": "https://example.com/uploads/profile/user_1.jpg"
                                        },
                                        "years_experience": {
                                            "type": "integer",
                                            "nullable": true,
                                            "example": 15,
                                            "description": "Years of experience in yachting"
                                        },
                                        "current_yacht": {
                                            "type": "string",
                                            "nullable": true,
                                            "example": "Ocean Dream",
                                            "description": "Current yacht name"
                                        },
                                        "current_yacht_start_date": {
                                            "type": "string",
                                            "nullable": true,
                                            "example": "01/15/2020",
                                            "description": "Start date at current yacht in m/d/Y format"
                                        },
                                        "sea_service_time_months": {
                                            "type": "integer",
                                            "nullable": true,
                                            "example": 120,
                                            "description": "Total sea service time in months"
                                        },
                                        "availability_status": {
                                            "type": "string",
                                            "nullable": true,
                                            "enum": ["available", "busy", "looking_for_work", "on_leave"],
                                            "example": "available",
                                            "description": "Current availability status"
                                        },
                                        "availability_message": {
                                            "type": "string",
                                            "nullable": true,
                                            "example": "Available for new opportunities",
                                            "description": "Custom availability message"
                                        },
                                        "looking_to_meet": {
                                            "type": "boolean",
                                            "example": false,
                                            "description": "Looking to meet other crew members"
                                        },
                                        "looking_for_work": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Looking for work opportunities"
                                        },
                                        "languages": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": ["English", "French", "Spanish"],
                                            "description": "List of languages spoken"
                                        },
                                        "certifications": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": ["STCW", "MCA Y4", "RYA Yachtmaster"],
                                            "description": "List of certifications"
                                        },
                                        "specializations": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": ["Navigation", "Engineering", "Deck Management"],
                                            "description": "List of specializations"
                                        },
                                        "interests": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": ["Sailing", "Diving", "Photography"],
                                            "description": "List of interests"
                                        },
                                        "previous_yachts": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "yacht_id": {
                                                        "type": "integer",
                                                        "nullable": true,
                                                        "example": 5,
                                                        "description": "Yacht ID from yacht management system"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Sea Breeze",
                                                        "description": "Yacht name"
                                                    },
                                                    "start_date": {
                                                        "type": "string",
                                                        "nullable": true,
                                                        "example": "01/01/2018",
                                                        "description": "Start date in m/d/Y format"
                                                    },
                                                    "end_date": {
                                                        "type": "string",
                                                        "nullable": true,
                                                        "example": "12/31/2019",
                                                        "description": "End date in m/d/Y format"
                                                    }
                                                }
                                            },
                                            "example": [
                                                {
                                                    "yacht_id": 5,
                                                    "name": "Sea Breeze",
                                                    "start_date": "01/01/2018",
                                                    "end_date": "12/31/2019"
                                                }
                                            ],
                                            "description": "List of previous yachts with dates"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Failed to fetch user profile"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Profile"
                ],
                "summary": "Update authenticated user's profile",
                "operationId": "updateUserProfile",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "first_name": {
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john.doe@example.com"
                                    },
                                    "dob": {
                                        "type": "string",
                                        "example": "01/01/1990",
                                        "description": "Date of birth in d/m/Y format"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+1234567890"
                                    },
                                    "gender": {
                                        "type": "string",
                                        "example": "male"
                                    },
                                    "nationality": {
                                        "type": "string",
                                        "example": "British"
                                    },
                                    "marital_status": {
                                        "type": "string",
                                        "example": "single"
                                    },
                                    "birth_country": {
                                        "type": "string",
                                        "example": "United Kingdom"
                                    },
                                    "birth_province": {
                                        "type": "string",
                                        "example": "London"
                                    },
                                    "image": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "Profile photo image file"
                                    },
                                    "years_experience": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "maximum": 100,
                                        "example": 15,
                                        "description": "Years of experience in yachting"
                                    },
                                    "current_yacht": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Ocean Dream",
                                        "description": "Current yacht name"
                                    },
                                    "current_yacht_start_date": {
                                        "type": "string",
                                        "example": "01/15/2020",
                                        "description": "Start date at current yacht in m/d/Y format"
                                    },
                                    "sea_service_time_months": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "example": 120,
                                        "description": "Total sea service time in months"
                                    },
                                    "availability_status": {
                                        "type": "string",
                                        "enum": ["available", "busy", "looking_for_work", "on_leave"],
                                        "example": "available",
                                        "description": "Current availability status"
                                    },
                                    "availability_message": {
                                        "type": "string",
                                        "maxLength": 500,
                                        "example": "Available for new opportunities",
                                        "description": "Custom availability message"
                                    },
                                    "looking_to_meet": {
                                        "type": "boolean",
                                        "example": false,
                                        "description": "Looking to meet other crew members"
                                    },
                                    "looking_for_work": {
                                        "type": "boolean",
                                        "example": true,
                                        "description": "Looking for work opportunities"
                                    },
                                    "languages": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "maxLength": 255
                                        },
                                        "example": ["English", "French", "Spanish"],
                                        "description": "List of languages spoken"
                                    },
                                    "certifications": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "maxLength": 255
                                        },
                                        "example": ["STCW", "MCA Y4", "RYA Yachtmaster"],
                                        "description": "List of certifications"
                                    },
                                    "specializations": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "maxLength": 255
                                        },
                                        "example": ["Navigation", "Engineering", "Deck Management"],
                                        "description": "List of specializations"
                                    },
                                    "interests": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "maxLength": 255
                                        },
                                        "example": ["Sailing", "Diving", "Photography"],
                                        "description": "List of interests"
                                    },
                                    "previous_yachts": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "required": ["name"],
                                            "properties": {
                                                "yacht_id": {
                                                    "type": "integer",
                                                    "example": 5,
                                                    "description": "Yacht ID from yacht management system (optional)"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "maxLength": 255,
                                                    "example": "Sea Breeze",
                                                    "description": "Yacht name (required)"
                                                },
                                                "start_date": {
                                                    "type": "string",
                                                    "example": "01/01/2018",
                                                    "description": "Start date in m/d/Y format"
                                                },
                                                "end_date": {
                                                    "type": "string",
                                                    "example": "12/31/2019",
                                                    "description": "End date in m/d/Y format (must be after start_date)"
                                                }
                                            }
                                        },
                                        "example": [
                                            {
                                                "yacht_id": 5,
                                                "name": "Sea Breeze",
                                                "start_date": "01/01/2018",
                                                "end_date": "12/31/2019"
                                            }
                                        ],
                                        "description": "List of previous yachts with dates"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profile updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Profile updated successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "500": {
                        "description": "Update failed"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/itinerary/routes/{route}/comments": {
            "get": {
                "tags": [
                    "Itinerary Comments"
                ],
                "summary": "Get comments for a route",
                "operationId": "1479a5bedb763536a7dba0a7fd5f2140",
                "parameters": [
                    {
                        "name": "route",
                        "in": "path",
                        "description": "Route ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of comments",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Access denied"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Itinerary Comments"
                ],
                "summary": "Create a comment on a route",
                "operationId": "e068e4b7a071664a78c1eb7cfb37b354",
                "parameters": [
                    {
                        "name": "route",
                        "in": "path",
                        "description": "Route ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "body"
                                ],
                                "properties": {
                                    "stop_id": {
                                        "description": "Optional: Stop ID to comment on",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "parent_id": {
                                        "description": "Optional: Parent comment ID for replies",
                                        "type": "integer",
                                        "example": 5
                                    },
                                    "body": {
                                        "type": "string",
                                        "example": "Great route! Looking forward to trying it."
                                    },
                                    "attachments": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "url1",
                                            "url2"
                                        ]
                                    },
                                    "visibility": {
                                        "type": "string",
                                        "enum": [
                                            "crew",
                                            "public"
                                        ],
                                        "example": "public"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Comment posted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Comment posted."
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Access denied"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/itinerary/routes/{route}/comments/{comment}": {
            "put": {
                "tags": [
                    "Itinerary Comments"
                ],
                "summary": "Update a comment",
                "operationId": "0825dfdfe137ef8ec1c472198b3a66e5",
                "parameters": [
                    {
                        "name": "route",
                        "in": "path",
                        "description": "Route ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "comment",
                        "in": "path",
                        "description": "Comment ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "body": {
                                        "type": "string",
                                        "example": "Updated comment text"
                                    },
                                    "visibility": {
                                        "type": "string",
                                        "enum": [
                                            "crew",
                                            "public"
                                        ]
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "hidden",
                                            "flagged"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Comment updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Comment updated."
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Access denied"
                    },
                    "404": {
                        "description": "Comment not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Itinerary Comments"
                ],
                "summary": "Delete a comment",
                "operationId": "a2845f9c72e6d515c76bc0be2287c210",
                "parameters": [
                    {
                        "name": "route",
                        "in": "path",
                        "description": "Route ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "comment",
                        "in": "path",
                        "description": "Comment ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Comment removed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Comment removed."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Access denied"
                    },
                    "404": {
                        "description": "Comment not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/itinerary/routes/{route}/crew": {
            "get": {
                "tags": [
                    "Itinerary Crew"
                ],
                "summary": "Get crew members for a route",
                "operationId": "74c3a6b8c3172ca77c75dd9aba9b6e91",
                "parameters": [
                    {
                        "name": "route",
                        "in": "path",
                        "description": "Route ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of crew members",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Access denied"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Itinerary Crew"
                ],
                "summary": "Invite crew member to route",
                "operationId": "034577036729440b8c34efa06bee16eb",
                "parameters": [
                    {
                        "name": "route",
                        "in": "path",
                        "description": "Route ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "role"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "Email (required if user_id not provided)",
                                        "type": "string",
                                        "format": "email",
                                        "example": "crew@example.com"
                                    },
                                    "user_id": {
                                        "description": "User ID (required if email not provided)",
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "role": {
                                        "type": "string",
                                        "enum": [
                                            "owner",
                                            "editor",
                                            "viewer"
                                        ],
                                        "example": "editor"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Crew invitation sent",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Crew invitation sent."
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Access denied"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/itinerary/routes/{route}/crew/{crew}": {
            "put": {
                "tags": [
                    "Itinerary Crew"
                ],
                "summary": "Update crew member",
                "operationId": "1908189fa447957bcf809709c176f984",
                "parameters": [
                    {
                        "name": "route",
                        "in": "path",
                        "description": "Route ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "crew",
                        "in": "path",
                        "description": "Crew member ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "role": {
                                        "type": "string",
                                        "enum": [
                                            "owner",
                                            "editor",
                                            "viewer"
                                        ]
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "pending",
                                            "accepted",
                                            "declined",
                                            "revoked"
                                        ]
                                    },
                                    "notify_on_updates": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Crew member updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Crew member updated."
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Access denied"
                    },
                    "404": {
                        "description": "Crew member not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Itinerary Crew"
                ],
                "summary": "Remove crew member",
                "operationId": "3f6e4838c0f4c3e99422a9e0f13683cb",
                "parameters": [
                    {
                        "name": "route",
                        "in": "path",
                        "description": "Route ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "crew",
                        "in": "path",
                        "description": "Crew member ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Crew member removed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Crew member removed."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Access denied"
                    },
                    "404": {
                        "description": "Crew member not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/itinerary/routes/{route}/crew/{crew}/respond": {
            "post": {
                "tags": [
                    "Itinerary Crew"
                ],
                "summary": "Respond to crew invitation",
                "operationId": "c1e22bd00cd7ab38033afafda3642bd0",
                "parameters": [
                    {
                        "name": "route",
                        "in": "path",
                        "description": "Route ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "crew",
                        "in": "path",
                        "description": "Crew member ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "action"
                                ],
                                "properties": {
                                    "action": {
                                        "type": "string",
                                        "enum": [
                                            "accept",
                                            "decline"
                                        ],
                                        "example": "accept"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Invitation response processed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "You have joined the crew."
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Access denied"
                    },
                    "404": {
                        "description": "Crew invitation not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/itinerary/routes/{route}/export/pdf": {
            "get": {
                "tags": [
                    "Itinerary Export"
                ],
                "summary": "Export route as PDF",
                "operationId": "65f4158cdf2c1a6397cb281f819dc7a3",
                "parameters": [
                    {
                        "name": "route",
                        "in": "path",
                        "description": "Route ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "PDF export generated (returns JSON with download URL for API requests)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "PDF export generated successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "download_url": {
                                                    "type": "string",
                                                    "example": "/storage/exports/route_123.pdf"
                                                },
                                                "filename": {
                                                    "type": "string",
                                                    "example": "route_mediterranean_2024-11-19.html"
                                                },
                                                "file_path": {
                                                    "type": "string",
                                                    "example": "exports/route_123.pdf"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Access denied"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/itinerary/routes/{route}/export/gpx": {
            "get": {
                "tags": [
                    "Itinerary Export"
                ],
                "summary": "Export route as GPX",
                "operationId": "41063e5d3d728740c1c122da3dd4795a",
                "parameters": [
                    {
                        "name": "route",
                        "in": "path",
                        "description": "Route ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "GPX export generated (returns JSON with download URL for API requests)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "GPX export generated successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "download_url": {
                                                    "type": "string",
                                                    "example": "/storage/exports/route_123.gpx"
                                                },
                                                "filename": {
                                                    "type": "string",
                                                    "example": "route_mediterranean_2024-11-19.gpx"
                                                },
                                                "file_path": {
                                                    "type": "string",
                                                    "example": "exports/route_123.gpx"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Access denied"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/itinerary/routes/{route}/export/xlsx": {
            "get": {
                "tags": [
                    "Itinerary Export"
                ],
                "summary": "Export route as XLSX/CSV",
                "operationId": "3c68526595172fe0c38980593042f3a1",
                "parameters": [
                    {
                        "name": "route",
                        "in": "path",
                        "description": "Route ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "XLSX export generated (returns JSON with download URL for API requests)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "XLSX export generated successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "download_url": {
                                                    "type": "string",
                                                    "example": "/storage/exports/route_123.csv"
                                                },
                                                "filename": {
                                                    "type": "string",
                                                    "example": "route_mediterranean_2024-11-19.csv"
                                                },
                                                "file_path": {
                                                    "type": "string",
                                                    "example": "exports/route_123.csv"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Access denied"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/itinerary/routes/{route}/reviews": {
            "get": {
                "tags": [
                    "Itinerary Reviews"
                ],
                "summary": "Get reviews for a route",
                "operationId": "83826e311ed5d6c7a2689047b3701a7f",
                "parameters": [
                    {
                        "name": "route",
                        "in": "path",
                        "description": "Route ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of reviews",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Access denied"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Itinerary Reviews"
                ],
                "summary": "Create a review for a route",
                "operationId": "e457455d7ae0a436e10ce44613513390",
                "parameters": [
                    {
                        "name": "route",
                        "in": "path",
                        "description": "Route ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "rating"
                                ],
                                "properties": {
                                    "rating": {
                                        "type": "integer",
                                        "maximum": 5,
                                        "minimum": 1,
                                        "example": 5
                                    },
                                    "comment": {
                                        "type": "string",
                                        "example": "Great route! Highly recommended."
                                    },
                                    "media": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "url1",
                                            "url2"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Review submitted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Review submitted."
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Access denied"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/itinerary/routes/{route}/reviews/{review}": {
            "put": {
                "tags": [
                    "Itinerary Reviews"
                ],
                "summary": "Update a review",
                "operationId": "ee720f6786a1add5ecebdf7b88244e08",
                "parameters": [
                    {
                        "name": "route",
                        "in": "path",
                        "description": "Route ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "review",
                        "in": "path",
                        "description": "Review ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "rating": {
                                        "type": "integer",
                                        "maximum": 5,
                                        "minimum": 1
                                    },
                                    "comment": {
                                        "type": "string"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "pending",
                                            "published",
                                            "flagged"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Review updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Review updated."
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Access denied"
                    },
                    "404": {
                        "description": "Review not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Itinerary Reviews"
                ],
                "summary": "Delete a review",
                "operationId": "c0aaab1d6ad503587c0798ec90a8435c",
                "parameters": [
                    {
                        "name": "route",
                        "in": "path",
                        "description": "Route ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "review",
                        "in": "path",
                        "description": "Review ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Review removed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Review removed."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Access denied"
                    },
                    "404": {
                        "description": "Review not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/itinerary/routes": {
            "get": {
                "tags": [
                    "Itinerary Routes"
                ],
                "summary": "List all sailing routes",
                "operationId": "f0825dcccf2894a43fe4ed9f7a07df55",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search in title, description, or tags",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "region",
                        "in": "query",
                        "description": "Filter by region",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "difficulty",
                        "in": "query",
                        "description": "Filter by difficulty level",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "season",
                        "in": "query",
                        "description": "Filter by season",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by status",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "visibility",
                        "in": "query",
                        "description": "Filter by visibility",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "days",
                        "in": "query",
                        "description": "Filter by duration in days",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
[...]
