{
    "openapi": "3.0.0",
    "info": {
        "title": "YWC API",
        "description": "API documentation for YWC platform.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://console-ywc.nativeappdev.com",
            "description": "Production Server"
        },
        {
            "url": "http://localhost",
            "description": "Development Server"
        }
    ],
    "paths": {
        "/api/roles": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Get available roles",
                "operationId": "5a0b44be03e17d085cd0ba283ed073ea",
                "responses": {
                    "200": {
                        "description": "Roles fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Roles fetched successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "captain"
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "example": "Active"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/api/signup": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Sign up a new user",
                "operationId": "f886d970a4e3497817841e1dc8ca2348",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "first_name",
                                    "last_name",
                                    "email",
                                    "password",
                                    "role"
                                ],
                                "properties": {
                                    "first_name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "John"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "maxLength": 255,
                                        "example": "john.doe@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "minLength": 8,
                                        "example": "SecurePass123!"
                                    },
                                    "role": {
                                        "description": "Must be an existing role name",
                                        "type": "string",
                                        "example": "captain"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Signup successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Signup successful. Please check your email to verify your account."
                                        },
                                        "data": {
                                            "properties": {
                                                "user_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "john.doe@example.com"
                                                },
                                                "profile_url": {
                                                    "type": "string",
                                                    "example": "https://example.com/p/encrypted_id"
                                                },
                                                "qrcode": {
                                                    "type": "string",
                                                    "example": "/storage/qrcodes/user_1_abc123.png"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register a new user (alternative endpoint)",
                "operationId": "8e4e3cb7b46126f4696379d3c7eeb4ad",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "first_name",
                                    "last_name",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "first_name": {
                                        "type": "string",
                                        "maxLength": 100,
                                        "example": "John"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "maxLength": 100,
                                        "example": "Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "maxLength": 100,
                                        "example": "john.doe@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "minLength": 8,
                                        "example": "SecurePass123!"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "SecurePass123!"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User registered successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User registered successfully!"
                                        },
                                        "user": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login and receive access tokens",
                "operationId": "222b2625838e3c57e017987f73598fda",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "Secret123!"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Login successful"
                                        },
                                        "data": {
                                            "properties": {
                                                "token": {
                                                    "description": "Sanctum token for auth:sanctum routes",
                                                    "type": "string",
                                                    "example": "1|abcdef123456"
                                                },
                                                "token_type": {
                                                    "type": "string",
                                                    "example": "Bearer"
                                                },
                                                "jwt_token": {
                                                    "description": "Legacy JWT token",
                                                    "type": "string",
                                                    "example": "eyJ0eXAiOiJKV1QiLCJhbGc..."
                                                },
                                                "user_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "example": "John"
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "example": "Doe"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "john.doe@example.com"
                                                },
                                                "role": {
                                                    "type": "string",
                                                    "example": "captain"
                                                },
                                                "profile_url": {
                                                    "type": "string",
                                                    "example": "https://example.com/p/encrypted_id"
                                                },
                                                "qrcode": {
                                                    "type": "string",
                                                    "example": "/storage/qrcodes/user_1_abc123.png"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid email or password"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Account not verified",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Please verify your email before login."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Logout user and invalidate token",
                "operationId": "ad65cbbd4e9f201619eae184a5961a98",
                "responses": {
                    "200": {
                        "description": "User logged out successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User logged out successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid token"
                    },
                    "500": {
                        "description": "Logout failed"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/forgot-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Request password reset",
                "operationId": "20d78161b19ac6afb56924e74974ec46",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password reset link sent",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Password reset link sent to your email address."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "500": {
                        "description": "Unable to send reset link"
                    }
                }
            }
        },
        "/api/reset-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Reset password with token",
                "operationId": "0a6624b616e4ba5a310a61d9f7418c35",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "token",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "token": {
                                        "type": "string",
                                        "example": "reset_token_here"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "minLength": 8,
                                        "example": "NewSecurePass123!"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "NewSecurePass123!"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password reset successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Password has been reset successfully."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid or expired token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid or expired reset token."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/crew-profile/update": {
            "post": {
                "tags": [
                    "Crew Profile"
                ],
                "summary": "Update crew profile information",
                "operationId": "4c3b7efd6cb07c310a6ff94fb768d4d0",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "years_experience": {
                                        "description": "Years of experience (0-100)",
                                        "type": "integer",
                                        "example": 5
                                    },
                                    "current_yacht": {
                                        "type": "string",
                                        "example": "Yacht Name"
                                    },
                                    "languages": {
                                        "type": "array",
                                        "items": {
                                            "type": "object"
                                        }
                                    },
                                    "certifications": {
                                        "type": "array",
                                        "items": {
                                            "type": "object"
                                        }
                                    },
                                    "specializations": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "interests": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "availability_status": {
                                        "type": "string",
                                        "enum": [
                                            "available",
                                            "busy",
                                            "looking_for_work",
                                            "on_leave"
                                        ],
                                        "example": "available"
                                    },
                                    "availability_message": {
                                        "type": "string",
                                        "maxLength": 500,
                                        "example": "Available for work"
                                    },
                                    "looking_to_meet": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "looking_for_work": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "sea_service_time_months": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "example": 60
                                    },
                                    "previous_yachts": {
                                        "type": "array",
                                        "items": {
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profile updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Profile updated successfully"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/crew-profile/privacy": {
            "post": {
                "tags": [
                    "Crew Profile"
                ],
                "summary": "Update privacy settings",
                "operationId": "c1ee5f04da2c67e3c2a22a730b041324",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "location_privacy": {
                                        "type": "string",
                                        "enum": [
                                            "exact",
                                            "approximate",
                                            "city_only",
                                            "hidden"
                                        ],
                                        "example": "city_only"
                                    },
                                    "share_location": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "auto_hide_at_sea": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "visibility": {
                                        "type": "string",
                                        "enum": [
                                            "everyone",
                                            "connections_only",
                                            "verified_only",
                                            "invisible"
                                        ],
                                        "example": "everyone"
                                    },
                                    "show_in_discovery": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Privacy settings updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Privacy settings updated"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/crew-profile": {
            "get": {
                "tags": [
                    "Crew Profile"
                ],
                "summary": "Get authenticated user's crew profile",
                "operationId": "9a8056a8f32893c91c70810fae2707fc",
                "responses": {
                    "200": {
                        "description": "Profile retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Profile retrieved"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "John Doe"
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "example": "John"
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "example": "Doe"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "john.doe@example.com"
                                                },
                                                "profile_photo_url": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "position": {
                                                    "type": "string",
                                                    "example": "Captain"
                                                },
                                                "years_experience": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "current_yacht": {
                                                    "type": "string",
                                                    "example": "Yacht Name"
                                                },
                                                "languages": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "certifications": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "specializations": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "interests": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "availability_status": {
                                                    "type": "string",
                                                    "example": "available"
                                                },
                                                "availability_message": {
                                                    "type": "string",
                                                    "example": "Available for work"
                                                },
                                                "looking_to_meet": {
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "looking_for_work": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "sea_service_time_months": {
                                                    "type": "integer",
                                                    "example": 60
                                                },
                                                "previous_yachts": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "rating": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 4.5
                                                },
                                                "total_reviews": {
                                                    "type": "integer",
                                                    "example": 20
                                                },
                                                "nationality": {
                                                    "type": "string",
                                                    "example": "British"
                                                },
                                                "privacy": {
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/crew-profile/{user}": {
            "get": {
                "tags": [
                    "Crew Profile"
                ],
                "summary": "Get another user's public profile",
                "operationId": "fbb1b72c6c2ebb2d993430b2177859f3",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "User ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Profile retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Profile retrieved"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "John Doe"
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "example": "John"
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "example": "Doe"
                                                },
                                                "profile_photo_url": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "position": {
                                                    "type": "string",
                                                    "example": "Captain"
                                                },
                                                "years_experience": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "current_yacht": {
                                                    "type": "string",
                                                    "example": "Yacht Name"
                                                },
                                                "languages": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "nationality": {
                                                    "type": "string",
                                                    "example": "British"
                                                },
                                                "availability_status": {
                                                    "type": "string",
                                                    "example": "available"
                                                },
                                                "availability_message": {
                                                    "type": "string",
                                                    "example": "Available for work"
                                                },
                                                "rating": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 4.5
                                                },
                                                "total_reviews": {
                                                    "type": "integer",
                                                    "example": 20
                                                },
                                                "is_online": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "last_seen_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "nullable": true
                                                },
                                                "latitude": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "nullable": true
                                                },
                                                "longitude": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "nullable": true
                                                },
                                                "location_name": {
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Access denied (connection required or profile not visible)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "You must be connected to view this profile"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Profile not available",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Profile not available"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/mental-health/therapists": {
            "get": {
                "tags": [
                    "Mental Health"
                ],
                "summary": "Get list of therapists with filters",
                "operationId": "0951fba4af349e350ecc1799cc45568b",
                "parameters": [
                    {
                        "name": "specialization",
                        "in": "query",
                        "description": "Filter by specialization (e.g., anxiety, depression, stress)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Filter by language spoken (e.g., English, Spanish, French)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "min_rating",
                        "in": "query",
                        "description": "Minimum rating (1-5)",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "maximum": 5,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "max_rate",
                        "in": "query",
                        "description": "Maximum hourly rate",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "sliding_scale",
                        "in": "query",
                        "description": "Filter therapists offering sliding scale pricing",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "is_featured",
                        "in": "query",
                        "description": "Filter featured therapists only",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of therapists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Therapist"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "total": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/mental-health/therapists/{id}": {
            "get": {
                "tags": [
                    "Mental Health"
                ],
                "summary": "Get therapist details",
                "operationId": "1804b01df8b7d8b4db9cfcdc61de7ffe",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Therapist ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Therapist details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Therapist"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Therapist not found"
                    }
                }
            }
        },
        "/api/mental-health/resources": {
            "get": {
                "tags": [
                    "Mental Health"
                ],
                "summary": "Get mental health resources",
                "operationId": "479cf2d6cf1008168313b5a866079f21",
                "parameters": [
                    {
                        "name": "category",
                        "in": "query",
                        "description": "Filter by category",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filter by type (article, video, audio, exercise)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "article",
                                "video",
                                "audio",
                                "exercise"
                            ]
                        }
                    },
                    {
                        "name": "is_free",
                        "in": "query",
                        "description": "Filter free resources only",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of resources",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MentalHealthResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/mental-health/filter-options": {
            "get": {
                "tags": [
                    "Mental Health"
                ],
                "summary": "Get available filter options for therapists",
                "operationId": "94d2db7cf77cb94dbe6117f425afc525",
                "responses": {
                    "200": {
                        "description": "Available filter options",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "specializations": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "languages": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "price_range": {
                                                    "properties": {
                                                        "min": {
                                                            "type": "number"
                                                        },
                                                        "max": {
                                                            "type": "number"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/mental-health/dashboard": {
            "get": {
                "tags": [
                    "Mental Health"
                ],
                "summary": "Get mental health dashboard",
                "operationId": "2c896f6e913da42af5d139646d88ede2",
                "responses": {
                    "200": {
                        "description": "Dashboard data retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Dashboard data retrieved successfully"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/work-schedules": {
            "get": {
                "tags": [
                    "Work Schedules"
                ],
                "summary": "Get work schedules",
                "operationId": "a34dbbf8b8281483878049f4d65dab33",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "Filter by user ID (captain/super admin only)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "Start date filter (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "End date filter (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by status (pending, confirmed, modified, cancelled)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pending",
                                "confirmed",
                                "modified",
                                "cancelled"
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Schedules retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "pagination": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Work Schedules"
                ],
                "summary": "Create a new work schedule",
                "operationId": "a4c830ca61fe2f840d8582caa8ab6df9",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "user_id",
                                    "schedule_date",
                                    "start_time",
                                    "end_time",
                                    "location_status",
                                    "work_type"
                                ],
                                "properties": {
                                    "user_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "schedule_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-12-06"
                                    },
                                    "start_time": {
                                        "type": "string",
                                        "format": "time",
                                        "example": "08:00"
                                    },
                                    "end_time": {
                                        "type": "string",
                                        "format": "time",
                                        "example": "18:00"
                                    },
                                    "break_minutes": {
                                        "type": "integer",
                                        "example": 60
                                    },
                                    "location_status": {
                                        "type": "string",
                                        "enum": [
                                            "in_port",
                                            "at_sea",
                                            "in_shipyard",
                                            "at_anchor"
                                        ],
                                        "example": "in_port"
                                    },
                                    "work_type": {
                                        "type": "string",
                                        "enum": [
                                            "regular_duties",
                                            "maintenance",
                                            "guest_service",
                                            "emergency_standby",
                                            "shore_leave",
                                            "rest_period"
                                        ],
                                        "example": "regular_duties"
                                    },
                                    "yacht_id": {
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "location_name": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "department": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "notes": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "template_id": {
                                        "type": "integer",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Schedule created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Schedule created successfully"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "403": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/work-schedules/pending": {
            "get": {
                "tags": [
                    "Work Schedules"
                ],
                "summary": "Get pending schedules for authenticated user",
                "operationId": "e14f1313d1f3bd3d83b5a3a8bb7f89dc",
                "responses": {
                    "200": {
                        "description": "Pending schedules retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/work-schedules/{id}/confirm": {
            "post": {
                "tags": [
                    "Work Schedules"
                ],
                "summary": "Quick confirm a schedule",
                "operationId": "df123328e8157c6087148cc9672aa136",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Schedule confirmed and work log created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Schedule confirmed and work log created"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Schedule already confirmed"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/work-schedules/{id}/modify": {
            "post": {
                "tags": [
                    "Work Schedules"
                ],
                "summary": "Modify a schedule",
                "operationId": "f1f0597accf0e39f56f6f45eddcde87a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "start_time",
                                    "end_time",
                                    "reason_code"
                                ],
                                "properties": {
                                    "start_time": {
                                        "type": "string",
                                        "format": "time",
                                        "example": "07:00"
                                    },
                                    "end_time": {
                                        "type": "string",
                                        "format": "time",
                                        "example": "19:00"
                                    },
                                    "break_minutes": {
                                        "type": "integer",
                                        "example": 60
                                    },
                                    "location_status": {
                                        "type": "string",
                                        "enum": [
                                            "in_port",
                                            "at_sea",
                                            "in_shipyard",
                                            "at_anchor"
                                        ],
                                        "nullable": true
                                    },
                                    "work_type": {
                                        "type": "string",
                                        "enum": [
                                            "regular_duties",
                                            "maintenance",
                                            "guest_service",
                                            "emergency_standby",
                                            "shore_leave",
                                            "rest_period"
                                        ],
                                        "nullable": true
                                    },
                                    "reason_code": {
                                        "type": "string",
                                        "enum": [
                                            "weather_delay",
                                            "guest_request",
                                            "maintenance_priority",
                                            "emergency",
                                            "crew_request",
                                            "itinerary_change",
                                            "other"
                                        ],
                                        "example": "guest_request"
                                    },
                                    "reason_description": {
                                        "type": "string",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Schedule modified successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Schedule modified successfully"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "403": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/subscriptions/current": {
            "get": {
                "tags": [
                    "Subscriptions"
                ],
                "summary": "Get current user's subscription",
                "operationId": "7134cda3450fadba8568cf7e7b73a32b",
                "responses": {
                    "200": {
                        "description": "Subscription retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Subscription retrieved successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "user_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "plan_type": {
                                                    "type": "string",
                                                    "enum": [
                                                        "monthly",
                                                        "annual"
                                                    ],
                                                    "example": "monthly"
                                                },
                                                "amount": {
                                                    "description": "Amount in cents",
                                                    "type": "integer",
                                                    "example": 1000
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "enum": [
                                                        "active",
                                                        "past_due",
                                                        "cancelled",
                                                        "suspended",
                                                        "pending"
                                                    ],
                                                    "example": "active"
                                                },
                                                "interval": {
                                                    "type": "string",
                                                    "example": "month"
                                                },
                                                "interval_count": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "start_date": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2026-01-27T10:00:00Z"
                                                },
                                                "end_date": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2026-02-27T10:00:00Z"
                                                },
                                                "current_period_end": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2026-02-27T10:00:00Z"
                                                },
                                                "cancel_at_period_end": {
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "grace_period_end": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "nullable": true
                                                },
                                                "payment_retry_count": {
                                                    "type": "integer",
                                                    "example": 0
                                                },
                                                "is_active": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "is_in_grace_period": {
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "is_cancelled": {
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "can_reactivate": {
                                                    "type": "boolean",
                                                    "example": false
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No subscription found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "No subscription found"
                                        },
                                        "data": {
                                            "type": "null"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/subscriptions/plans": {
            "get": {
                "tags": [
                    "Subscriptions"
                ],
                "summary": "Get available subscription plans",
                "operationId": "3ed2b71bf45fe99d7a11c8ab6e6dcfaf",
                "responses": {
                    "200": {
                        "description": "Plans retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Plans retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "type": {
                                                        "type": "string",
                                                        "enum": [
                                                            "monthly",
                                                            "annual"
                                                        ],
                                                        "example": "monthly"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Monthly Plan"
                                                    },
                                                    "amount": {
                                                        "description": "Amount in cents",
                                                        "type": "integer",
                                                        "example": 1000
                                                    },
                                                    "formatted_amount": {
                                                        "type": "string",
                                                        "example": "£10.00"
                                                    },
                                                    "interval": {
                                                        "type": "string",
                                                        "example": "month"
                                                    },
                                                    "interval_count": {
                                                        "type": "integer",
[...]
